/*
Tables
*/
.main-table {
  border-collapse: collapse; 
  margin-top: 10px;
}

table {
	width: 100%;
}

table tr:nth-child(odd){
  background-color: #EDEDED;
}

th, td {
  border: 1px solid #cecfd5;
  padding: 2px 10px; 
}

th {
  font-weight: normal;
  text-align: left;
}

.edit-table-td {
	background-color: #FFFFFF;
	border: 0;
	padding: 0;
}

.cell-item {
  margin: 4px; 
}