/*
Tables
*/
.main-table {
  border-collapse: collapse; 
  margin-top: 10px;
}

table {
	width: 100%;
}

table tr:nth-child(odd){
  background-color: #EDEDED;
}

th, td {
  border: 1px solid #cecfd5;
  padding: 2px 10px; 
}

th {
  font-weight: normal;
  text-align: left;
}

.table-link:hover {
  color: #006400 !important;
  text-decoration: none !important;
}

.main-table-td:hover {
  background-color: #8FBC8F;
}

.edit-table-td {
	background-color: #FFFFFF;
	border: 0;
	padding: 0;
}

.cell-item {
  margin: 4px; 
}

ul {
  list-style-type: none;
  margin: 0 !important;
}

.edit-container {
	display: inline-block;
	float: right;
}